body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
    font-size: 22px;
    background-color: #000;
    color: var(--primary);
    opacity: 0.9;

    --primary: seashell;
}

h2,
h4 {
    text-align: center;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* NavBar Section */

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    align-items: center;
    height: 69px;
    width: 100%;
}

.nav-logo {
    height: 50px;
    margin-left: 10px;
}

nav ul {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
    text-decoration: underline;
    font-size: 1.3rem;
}

a {
    color: var(--primary);
}

/* Header Section */

header {
    display: flex;
    justify-content: center;
}

.hero-container {
    width: 1200px;
    height: 700px;
    background-image: url(./images/img-mission-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    flex-shrink: 1;
}

.hero {
    width: 100%;
    background-color: #000;
}

/* Main > Featured Tea Section */

.tea-container {
    width: 1000px;
    height: 800px;
}

.tea-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tea-img {
    width: 300px;
    height: 200px;
    margin: 10px
}

/* Main > Locations Section */



